.ele{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 0.8px groove grey;
    border-radius: 25%;
}

.line{
    text-decoration: line-through;
}

body{
    background-image: url("bgImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}